doctype html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
        link(href='https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        script(src='js/vendor/angular.min.js')
    body(ng-app="OutboxApp")
        .header
            .container
                img(src='img/logo.svg', width='140', height='150')
        .main(ng-controller="HomeController")
            .container
                .email(ng-repeat='email in emails')
                    span.from {{ email.from }}
                    span.subject {{ email.subject }}
                    span.date {{ email.date }}
        // Modules
        script(src='js/app.js')
        // Controllers
        script(src='js/controllers/HomeController.js')
        // Services
        script(src='js/services/emails.js')
